/*styling of the header */
.jumbotron {
  background-color: lightgreen;
  color: #ffffff;
}

.jumbotron h1 {
  font-size: 72px;
  font-weight: bold;
}

/*styling of the background */
body {
  background-color: #f6fbff;
}

/*styling of the cards */
.card {
  width: 500px;
  margin: 10px;
}

.card-header {
  background-color: #a2ffb2;
}
